<!DOCTYPE html>
<html>
<head>
    <title>Insult</title>
    <style>
        html {height: 100%; width: 100%; margin: 0; padding: 0;}
        body {display: flex; height: 100%; margin: 0 10%; padding: 0; text-align: center; align-content: center; justify-content: center;}
        h1.insult {font-family: sans-serif; font-size: 12vh; margin: auto; line-height: 100%;}
    </style>
</head>
<body>
<h1 class="insult">{{ insult }}</h1>
</body>
</html>
